@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #000000; /* Fondo negro */
    --secondary-color: #1a202c; /* Gris oscuro */
    --text-color: #a8ff0a; /* Verde brillante */
    --highlight-color: #a8ff0a; /* Acento verde */
    --button-gradient-start: #a8ff0a; /* Gradiente de botón verde */
    --button-gradient-end: #a8ff0a; /* Gradiente de botón verde */
    --nav-bg-opacity: 0.95; /* Opacidad del fondo del navbar */
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-white {
    color: #FFFFFF;
}

.text-highlight {
    color: var(--highlight-color);
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    /* Ajusta la altura para que no ocupe todo el viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}